<div id="add_or_edit">
  {{#if article}}
  <h2>Edit Article</h2>
  <form action="#" method="" data-id="{{article.id}}">
  {{else}}
  <h2>New Article</h2>
  <form action="#" method="">
  {{/if}}

    {{#if article}}
      {{#with article}}
        <label for="headline">Headline</label>
        <input type="text" id="headline" name="headline" value={{{headline}}}>

        <label for="teaser">Teaser</label>
        <input type="text" id="teaser" name="teaser" value="{{teaser}}">

        <label for="body">body</label>
        <textarea id="body" name="body" value="{{body}}">{{body}}</textarea>


        <div id="published">
          {{#if published}}
            <span>Published: Yes</span>
          {{else}}
            <span>Published: No</span>
          {{/if}}
        </div>

        <button type="submit" id="save_as_draft">Save as Draft</button>
        <button type="submit" id="save_and_publish">Save and Publish</button>
      {{/with}}

    {{else}}
      <label for="headline">Headline</label>
      <input type="text" id="headline" name="headline">

      <label for="teaser">Teaser</label>
      <input type="text" id="teaser" name="teaser">

      <label for="body">body</label>
      <textarea id="body" name="body"></textarea>

      <button type="submit" id="save_as_draft">Save as Draft</button>
      <button type="submit" id="save_and_publish">Save and Publish</button>
    {{/if}}
  </form>
</div>
