<div id="user">
  <h2>User</h2>

  <ul>
    {{#each articles}}
      <li>
        <div class="article" data-id="{{this.id}}">
          <p class="index">{{@index}}<p>
          <h3>{{this.headline}}</h3>
          <small>{{secondsToDate this.post_date}}</small>
          <p>{{this.teaser}}</p>
        </div>
      </li>
    {{/each}}
  </ul>

  <footer>
    <a id="page_back">Back</a>
    <a id="page_next">Next</a>
  </footer>
</div>
